<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bomb Ass Bitcoin</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
	</head>
	<body>
		<section class="todoapp">
			<nav class="nav">
				<ul>
					<li class="user"><%= user.name || user.username || user.email %></li>
					<li>
						<form action="/logout" method="post">
							<button class="logout" type="submit">Sign out</button>
						</form>
					</li>
				</ul>
			</nav>
			<header class="header">
				<h1>RPC</h1>
					<form action="/getnetworkinfo" method="get">
						<button id="getnetworkinfo">get network info</button>
					</form>
					<form action="/getblockchaininfo" method="get">
						<button id="getblockchaininfo">get blockchain info</button>
					</form>	
					<form action="/getpeerinfo" method="get">
						<button id="getpeerinfo">get peer info</button>
					</form>										
					<form action="/getblockstats" method="get">
						<button id="getblockstats">get latest block stats</button>
					</form>	
					<form action="/getmininginfo" method="get">
						<button id="getmininginfo">get mining info</button>
					</form>	
					<form action="/getnettotals" method="get">
						<button id="getnettotals">get net totals</button>
					</form>				
			</header>
		</section>
		<section class="main">
			<% if (data) { %>
				<table>
					<% for(prop in data) { %>
						<tr>
							<td><%= prop %></td>
							 <% if (typeof(data[prop]) === 'object') { %>
								<td>
									<a href=<%=url %>/<%=prop %>>more</a>
								</td>
							 <% } else { %>
								<td>
									<%= data[prop] %>
								</td>
							 <% } %>
						 </tr>
					<% } %>
				</table>
			<% } %>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Authentication powered by <a href="https://www.passportjs.org">Passport</a></p>
		</footer>
	</body>
</html>
